VITE_SUPABASE_URL=https://ihbjltaimjoyidtwvhtq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloYmpsdGFpbWpveWlkdHd2aHRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzOTg4NjcsImV4cCI6MjA5MTk3NDg2N30.8DwCO-JLcrv4AvSlmMapVvEfAeeaaIHD_vfV8b1TErM
VITE_GOOGLE_JAVASCRIPT_MAP_API=AIzaSyBJfauecFoDAbrqnAOPAu3N7wHnPKQCmE8
VITE_GEMINI_API_KEY=AQ.Ab8RN6LLp3gRKYBWZCw1ejWWjbGcr1mDCMH4c49c3q__IBxEQg